/config/*
!/config/nrf52840
/config/nrf52840/*
!/config/nrf52840/config
/nrf52840_develop.si4project/*
!/nrf52840_develop.si4project/nrf52840_develop.si4project_filelist.txt
Keil5/
components/
documentation/
examples/
external/
external_tools/
integration/
license.txt
modules/